<div class="container py-4">
  <!-- pagination -->
  <div align="right" style="font-size: 80%"><%= page_entries_info @tasks, entry_name: 'task' %></div>
  <span class="d-flex flex-row-reverse"><%= link_to_next_page @tasks, 'Next' %>&nbsp;&nbsp;<%= link_to_previous_page @tasks, 'Previous' %></span>
</br>
<%= render partial: "tasks", locals: { tasks: @tasks } %>
</div>