  
<div class="footer">
  <div class="footer-links">
    <a href="https://inspiregroup.io"><i class="bi bi-globe"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This app is made by & for the Inspire Group <i class="bi bi-rocket"></i>
  </div>
</div>