<%= form_tag(project_path(@project), method: :get, class: "row g-3 align-items-end") do %>
  <div class="col-md-4">
    <%= select_tag(:assignee, options_for_select(@projects_unique_assignees, params[:assignee]), prompt: "Filter by assignee", class: "form-select") %>
  </div>
  <div class="col-md-2 align-self-end">
    <%= submit_tag("Filter", class: "btn btn-secondary") %>
  </div>
<% end %>
