<div class="hover-content">
  <p> Tasks done yesterday: <%= Date.today - 1 %></p>
  <% @assignee_yesterday_tasks.each do |task| %>
    <ul>
      <li><%= task.jira_id %> - 
        <%= task.status %> - <%= my_helper_format_duration(task.time_spent) %>
      </li>
    </ul>
  <% end %>
</div>