.card {
  display: flex;
  flex-direction: column;
}

.card-body {
  flex: 1;
}

.card-footer {
  margin-top: auto;
}

.bg-stats {
  display: flex;
  flex-direction: column;
  height: 70%;
  background-color: white;
  padding: 10px;  
}

.card-task {
  height: 100%;
}