.hover-text {
  cursor: pointer;
  text-decoration: underline;
}

.hover-content {
  display: none;
  position: fixed;
  left: 0;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  z-index: 1;
  line-height: 3px;
}

p {
  padding-top: inherit;
}

.hover-text:hover + .hover-content {
  display: block;
}