a {
  text-decoration: none; 
  color: grey;
}

a:hover {
  text-decoration: none; 
  color: black;
}

.links_on_active_tasks_cards {
  text-decoration: none; 
  color: black  !important;

}

.links_on_active_tasks_cards:hover {
  text-decoration: none; 
  color: white !important;
}