// Your CSS partials
@import "./components/index";
@import "./pages/index";

// General style
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
}

.footer {
  flex-shrink: 0;
}

@keyframes flash {
  0% {
    color: red;
  }
  50% {
    color: transparent;
  }
  100% {
    color: red;
  }
}

.flashing-text {
  animation: flash 1s infinite;
}
